  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Gestión de ideas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <!-- <a class="nav-link" [href]="open()">Nueva idea <span class="sr-only">(current)</span></a> -->
          <!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Administrar</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['dashboard']">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        
        <!-- <a *ngIf="currentUser; else notLogedIn" href="javascript: void(0);" [routerLink]="['/login']">Log off</a>

        <ng-template #notLogedIn><a href="javascript: void(0);" [routerLink]="['/login']">Log in</a> -->

        <li class="nav-item">
          <!-- <a class="nav-link" *ngIf="!loggedIn" [routerLink]="['login']">Login</a> -->
          <a class="nav-link" *ngIf="!loggedIn" href="javascript:void(0);" (click)="login()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!loggedIn" href="#">Sign-up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="loggedIn" href="#">{{userLabel.nombre}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="loggedIn" href="javascript:void(0);" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
