<div class="modal-header">
    <h2 class="modal-title">Nueva iniciativa</h2>
    <button type="button" class="close" (click)="cerrar()"  aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    
<div class="modal-body">
    <form [formGroup]="formulario" (ngSubmit)="crearIniciativa()">
        <div class="form-group">
            <label>Titulo</label>
            <input type="text" class="form-control" formControlName="titulo">
        </div>
        <div class="error" *ngIf="formulario.controls.titulo.errors?.required && 
        formulario.controls.titulo.touched ">
            El campo Titulo es requerido
        </div>

        <!-- <div class="error" *ngIf="formulario.controls.titulo.errors?.minlength && 
        formulario.controls.titulo.touched">
            El campo Titulo debe tener un mínimo de {{formulario.controls.titulo.errors.minlength.requiredLength}} caracteres.
            Tú has escrito {{formulario.controls.titulo.errors.minlength.actualLength}} caracter(es).
        </div>
        <div>
            <p>Valid: {{ formulario.controls['titulo'].valid }}</p>
            <p>Errors - {{ formulario.controls['titulo'].errors | json }}</p>
        </div> -->

        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" formControlName="descripcion">
        </div>
        <div class="form-group">
            <label>Adjuntos</label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" formControlName="adjuntos">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <input type="text" class="form-control" formControlName="tags">
        </div>
        <div class="modal-footer">
            <input type="submit" [disabled]="!formulario.valid" value="Enviar" class="btn btn-block btn-primary">
        </div>
    </form>
</div>



